#lang_sel {
	height: 32px; font-family: verdana, arial, sans-serif; position: relative; z-index: 99;
}
* html #lang_sel {
	width: 12em;
}
#lang_sel ul {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
#lang_sel li {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
#lang_sel li::before {
	content: "" !important;
}
#lang_sel ul ul {
	width: 149px;
}
#lang_sel li {
	width: 149px; float: left; position: relative;
}
#lang_sel a {
	background: rgb(255, 255, 255); border: 1px solid rgb(205, 205, 205); color: rgb(68, 68, 68); line-height: 24px; padding-left: 10px; font-size: 11px; text-decoration: none !important; display: block;
}
#lang_sel a:visited {
	background: rgb(255, 255, 255); border: 1px solid rgb(205, 205, 205); color: rgb(68, 68, 68); line-height: 24px; padding-left: 10px; font-size: 11px; text-decoration: none !important; display: block;
}
* html #lang_sel a {
	width: 138px;
}
* html #lang_sel a:visited {
	width: 138px;
}
#lang_sel ul ul {
	left: 0px; top: 25px; width: 149px; height: 0px; border-top-color: rgb(205, 205, 205); border-top-width: 1px; border-top-style: solid; visibility: hidden; position: absolute;
}
* html #lang_sel ul ul {
	top: 19px;
}
#lang_sel table {
	left: 0px; top: 0px; border-collapse: collapse; position: absolute;
}
#lang_sel ul ul a {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; padding: 5px 10px; height: auto; color: rgb(68, 68, 68); line-height: 1em;
}
#lang_sel ul ul a:visited {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; padding: 5px 10px; height: auto; color: rgb(68, 68, 68); line-height: 1em;
}
* html #lang_sel ul ul a {
	width: 128px;
}
* html #lang_sel ul ul a:visited {
	width: 128px;
}
#lang_sel a:hover {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
#lang_sel ul ul a:hover {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
#lang_sel :hover > a {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
#lang_sel ul ul :hover > a {
	background: rgb(238, 238, 238); color: rgb(0, 0, 0);
}
#lang_sel a.lang_sel_sel {
	background: url("../img/nav-arrow-down.png") no-repeat right rgb(255, 255, 255); color: rgb(68, 68, 68);
}
#lang_sel a.lang_sel_sel:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
#lang_sel ul li:hover ul {
	visibility: visible;
}
#lang_sel ul a:hover ul {
	visibility: visible;
}
#lang_sel img.iclflag {
	top: 1px; width: 18px; height: 12px; position: relative;
}
#lang_sel_footer {
	font: 11px/normal Verdana, sans-serif; margin: 0px; padding: 7px; border: 1px solid rgb(205, 205, 205); height: 15px; text-align: center; clear: both; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
#lang_sel_footer ul {
	list-style: none; margin: 0px; padding: 0px;
}
#lang_sel_footer ul li img {
	top: 1px; width: 18px; height: 12px; position: relative;
}
#lang_sel_footer ul li {
	margin: 0px 1px 0px 0px; padding: 0px; display: inline;
}
#lang_sel_footer ul li a {
	padding: 5px 10px; text-decoration: none;
}
#lang_sel_footer ul li a:visited {
	padding: 5px 10px; text-decoration: none;
}
#lang_sel_footer ul li a:hover {
	
}
#lang_sel_footer ul li a:active {
	
}
#wpml_credit_footer {
	margin: 10px 0px; padding: 0px; width: 100%; text-align: center; font-size: 11px;
}
#lang_sel_list {
	width: 149px; height: 32px; font-family: verdana, arial, sans-serif; position: relative; z-index: 99;
}
* html #lang_sel_list {
	width: 12em;
}
#lang_sel_list ul {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
#lang_sel_list li {
	margin: 0px !important; padding: 0px !important; list-style-type: none !important;
}
#lang_sel_list li::before {
	content: "" !important;
}
#lang_sel_list ul {
	width: 149px;
}
#lang_sel_list li {
	width: 149px; float: left; position: relative;
}
#lang_sel_list a {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(205, 205, 205); color: rgb(68, 68, 68); line-height: 18px; padding-left: 10px; font-size: 11px; text-decoration: none !important; display: block;
}
#lang_sel_list a:visited {
	background: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(205, 205, 205); color: rgb(68, 68, 68); line-height: 18px; padding-left: 10px; font-size: 11px; text-decoration: none !important; display: block;
}
* html #lang_sel_list a {
	width: 138px;
}
* html #lang_sel_list a:visited {
	width: 138px;
}
#lang_sel_list ul {
	left: 0px; top: 19px; width: 149px; height: 0px; border-top-color: rgb(205, 205, 205); border-top-width: 1px; border-top-style: solid;
}
* html #lang_sel_list ul {
	top: 19px;
}
#lang_sel_list table {
	left: 0px; top: 0px; border-collapse: collapse; position: absolute;
}
#lang_sel_list ul a {
	background: rgb(255, 255, 255); padding: 3px 10px; height: auto; color: rgb(68, 68, 68); line-height: 1em;
}
#lang_sel_list_list ul a:visited {
	background: rgb(255, 255, 255); padding: 3px 10px; height: auto; color: rgb(68, 68, 68); line-height: 1em;
}
* html #lang_sel_list ul a {
	width: 128px;
}
* html #lang_sel_list ul a:visited {
	width: 128px;
}
#lang_sel_list a.lang_sel_sel {
	color: rgb(68, 68, 68); background-image: none;
}
#lang_sel_list a.lang_sel_sel:hover {
	color: rgb(0, 0, 0); text-decoration: none;
}
#lang_sel_list ul li:hover ul {
	visibility: visible;
}
#lang_sel_list ul a:hover ul {
	visibility: visible;
}
#lang_sel_list img.iclflag {
	top: 1px; width: 18px; height: 12px; position: relative;
}
.icl_rtl#lang_sel {
	text-align: right; direction: rtl;
}
.icl_rtl#lang_sel .lang_sel_sel {
	padding-right: 14px;
}
