.syntaxhighlighter .alt1.highlighted.line {
	background-color: rgb(224, 224, 224) !important;
}
.syntaxhighlighter .alt2.highlighted.line {
	background-color: rgb(224, 224, 224) !important;
}
.syntaxhighlighter .number.highlighted.line {
	color: black !important;
}
.syntaxhighlighter table caption {
	color: black !important;
}
.syntaxhighlighter .gutter {
	color: rgb(175, 175, 175) !important;
}
.syntaxhighlighter .gutter .line {
	border-right-color: rgb(108, 226, 108) !important; border-right-width: 3px !important; border-right-style: solid !important;
}
.syntaxhighlighter .gutter .highlighted.line {
	color: white !important; background-color: rgb(108, 226, 108) !important;
}
.printing.syntaxhighlighter .line .content {
	border: currentColor !important;
}
.collapsed.syntaxhighlighter {
	overflow: visible !important;
}
.collapsed.syntaxhighlighter .toolbar {
	background: white !important; border: 1px solid rgb(108, 226, 108) !important; color: blue !important;
}
.collapsed.syntaxhighlighter .toolbar a {
	color: blue !important;
}
.collapsed.syntaxhighlighter .toolbar a:hover {
	color: red !important;
}
.syntaxhighlighter .toolbar {
	background: rgb(108, 226, 108) !important; border: currentColor !important; color: white !important;
}
.syntaxhighlighter .toolbar a {
	color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
	color: black !important;
}
.syntaxhighlighter .plain {
	color: black !important;
}
.syntaxhighlighter .plain a {
	color: black !important;
}
.syntaxhighlighter .comments {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter .comments a {
	color: rgb(0, 130, 0) !important;
}
.syntaxhighlighter .string {
	color: blue !important;
}
.syntaxhighlighter .string a {
	color: blue !important;
}
.syntaxhighlighter .keyword {
	color: rgb(0, 102, 153) !important;
}
.syntaxhighlighter .preprocessor {
	color: gray !important;
}
.syntaxhighlighter .variable {
	color: rgb(170, 119, 0) !important;
}
.syntaxhighlighter .value {
	color: rgb(0, 153, 0) !important;
}
.syntaxhighlighter .functions {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .constants {
	color: rgb(0, 102, 204) !important;
}
.syntaxhighlighter .script {
	color: rgb(0, 102, 153) !important; font-weight: bold !important;
}
.syntaxhighlighter .color1 {
	color: gray !important;
}
.syntaxhighlighter .color1 a {
	color: gray !important;
}
.syntaxhighlighter .color2 {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color2 a {
	color: rgb(255, 20, 147) !important;
}
.syntaxhighlighter .color3 {
	color: red !important;
}
.syntaxhighlighter .color3 a {
	color: red !important;
}
.syntaxhighlighter .keyword {
	font-weight: bold !important;
}
